/.phpunit.cache

/node_modules

/public/build
/public/images/vendor
/public/fonts
/public/hot
/public/storage
/public/css
/public/js
/public/*.gz
/public/main.js
/public/mix-manifest.json

/storage/*.key
/storage/app/json_api

/vendor

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
