includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - honey/

    level: 6

    ignoreErrors:

    excludePaths:
        - app/Http/Controllers/BaseController.php
        - honey/