$border-2px: 2px solid rgba(197, 197, 197, 0.4);

$height-navbar: 64px;
$width-sidebar: 250px !default;

// Colors
$color-dark: hsl(0, 0%, 13%);
$color-grey: hsl(0, 0%, 29%);
$color-grey-light: hsl(0, 0%, 45%);
$color-white: hsla(0, 0%, 100%, 0.86);

// Box-shadow
$box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);